.square1 {
    background-color: white;
    border: 10px;
    height: 100px;
    width: 100px;
    transform: rotate(15deg);
    margin-top: 150px;
    margin-left: 150px;
    float: left;
  }

  .square2 {
      background-color: black;
      border: 10px;
      height: 200px;
      width: 200px;
      transform: rotate(45deg);
      margin-top: 150px;
      margin-left: 0px;
      float: left;
    }

.square3 {
    background-color: grey;
    border: 10px;
    height: 300px;
    width: 300px;
    transform: rotate(60deg);
    margin-top: 150px;
    margin-left: 0px;
    float: left;
  }
