#snowc {

    background-color: black
    margin-bottom: 10px;
    margin-left: 330px;
    margin-right: 200px;
    margin-top: 50px;
 }

 #Home2 {

   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 30px;
   margin-right: 20px;

 }
