body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #silver;
}


h1 {
  margin-left: 250px;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: navy;
}

#graph {
  width: 700px;
  margin-left: 150px;
  margin-top: 100px;
}

svg {
  stroke-width: 3px;
  background-color: silver;

}

.xAxis path, .yAxis path{
  stroke: navy;
  fill: none;
}

path.plot {
  stroke: purple;
}

h4 {
  color: hsla(0, 25%, 50%, 1.0);
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 200px;
